<div class="pf2e chat-card action-card" data-actor-id="{{actor.id}}" data-item-id="{{item.id}}" {{#if tokenId}}data-token-id="{{tokenId}}"{{/if}}>
    <header class="card-header flexrow">
        <img src="{{item.img}}" alt="{{item.name}}" />
        <h3>{{item.name}}{{#if item.actionCost}} {{{actionGlyph item.actionCost}}}{{/if}}</h3>
        <div class="tags paizo-style" data-tooltip-class="pf2e">
            {{#each item.traits as |trait|}}
                <span class="tag" data-trait="{{trait.name}}" data-tooltip="{{trait.description}}">{{localize trait.label}}</span>
            {{/each}}
        </div>
    </header>

    <section class="card-content">
        {{{item.description}}}
    </section>

    <section class="card-buttons">
        <button type="button" data-action="roll-area-save" data-owner-title="{{saveBreakdown}}">
            {{{saveLabel}}}
        </button>
        <button type="button" data-action="roll-area-damage">
            {{localize "PF2E.Damage.Kind.Damage.Roll.Verb"}}
        </button>
        <button type="button" data-action="place-area-template">
            Place Template ({{areaLabel}})
        </button>
    </section>

    {{#if data.properties}}
        <footer class="card-footer">
            {{#each data.properties}}
                <span>{{localize this}}</span>
            {{/each}}
        </footer>
    {{/if}}
</div>
